# Project place file
/PetSim.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

sourcemap.json

# Python
__pycache__/
.pytest_cache/
tools/autoclicker/.venv/
tools/autoclicker/settings.json
tools/autoclicker/images/
